.container
  h2 API Project: File Metadata Microservice
  h3 Usage:
  p
    | Please Upload a File ...
  .view
    h4#output
    form#metadata-form(enctype='multipart/form-data' method='GET' action='metadata')
      input#inputfield(type='file' name='upfile')
      input#button(type='submit' value='Upload')