.container
  h2 API Project: File Metadata Microservice
  h3 Usage:
  p
    | Please Upload a File ...
  .view
    h4#output
    form#metadata-form( method='POST' action='metadata' enctype='multipart/form-data')
      input#inputfield(type='file' name='upfile')
      input#button(type='submit' value='Upload')
