doctype html 
html
  head
    meta(charset UTF-8)
    meta(name="discription" content="Timestamp API")
    meta(keywords="keywords" content="Web Developer, Web Design, HTML, CSS, Javascript, React")
    meta(name="author" content="Derek Robertson")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title DWD Timestamp API
    link(rel='stylesheet' href='style.css')
  body
    h1 API Microcenter
    hr
    .main-container
      include sections/timestamp.pug
      include sections/metadata.pug
      include sections/headerParser.pug
      
    .footer 
      p By
        a(href="https://www.developwithderek.com/") !DMR
    script(src='script.js')